.well-known
node_modules
*.log
npm-debug.log*
*.DS_Store

wp-admin
wp-includes
wp-content/ai1wm-backups
wp-content/cache
wp-content/wp-rocket-config
wp-content/upgrade
wp-content/uploads
wp-content/uploads-webpc
wp-content/w3tc-config
wp-content/debug.log
wp-content/all-in-one-seo-pack.log

wp-config.php
wp-config-test.php
wp-config-env.php
wp-config-sample.php
wp-config-prod.php
wp-config-local.php